.sub_header {
    color: #DAA520;
}

.paragraphs {
    color: #00356f;
    line-height: 45px;
    font-size: large;
}

.links{
    font-weight: bold;
    margin-right: 3px;
    color: #00356f !important;
}

.links:hover {
    color: #00356f !important;
    font-weight: bolder !important;
}

.book_button {
    background-color: #DAA520;
    border-color: #DAA520;
    margin-left: 125px;
}

.book_button:hover {
    background-color: #00356f;
    color: beige !important;
}

.book_button:active {
    background-color: #00356f !important;
    color: beige !important;
    outline: none !important;
    box-shadow: none !important;
}

.book_button:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: #00356f !important;
    outline-offset: none !important;
}
