.edit_profile {
    color: white !important;
}

.card_link {
    color: black !important;
}

.card_link:hover {
    text-decoration: underline;
}

.image_row {
    display: flex;

 }

.div_table {
    height: 40%;
    overflow: auto;
}
